
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }} | {{ site.name }}</title>
        
        <div class="additional">
          <ul id="menu-main-menu" class="additional">
            <li class="menu-item"><a href="/">About</a></li>
            <li class="menu-item"><a href="/lessons">Lessons</a></li>
            <li class="menu-item"><a href="/contribute">Contribute</a></li>
            <li class="menu-item"><a href="/project-team">Project Team</a></li>
            <li class="menu-item"><a href="/research">Research</a></li>
            <li class="menu-item"><a href="/blog">Blog</a></li>
          </ul>
        </div>
</head>
