
   <div>
          <ul>
            <li><a href="https://dixit-eu.github.io/Digital-Scholarly-EditionsGR-workshop/desc">Ταυτότητα</a></li>
             <li><a href="https://dixit-eu.github.io/Digital-Scholarly-EditionsGR-workshop/program">Πρόγραμμα</a></li> 
             <li><a href="https://dixit-eu.github.io/Digital-Scholarly-EditionsGR-workshop/material">Υλικό</a></li> 
              <li><a href="https://dixit-eu.github.io/Digital-Scholarly-EditionsGR-workshop/registration">Δήλωση συμμετοχής </a></li>
            </ul>
        </div>

