
<head>
    <meta charset="utf-8">
  
        <div class="main">
          <ul>
            <li class="menu-item" ><a href="https://amsichani.github.io/Digital-Scholarly-EditionsGR-workshop/desc">Περιγραφή</a></li>
             <li class="menu-item"><a href="https://amsichani.github.io/Digital-Scholarly-EditionsGR-workshop/program">Πρόγραμμα</a></li> 
             <li class="menu-item"><a href="https://amsichani.github.io/Digital-Scholarly-EditionsGR-workshop/material">Υλικό</a></li> 
              <li class="menu-item"><a href="https://amsichani.github.io/Digital-Scholarly-EditionsGR-workshop/registration">Φόρμα συμμετοχής </a></li>
            </ul>
        </div>
</head>
