
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} </title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
 
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1><a href="{{ site.url }}"> {{ site.title }}</a></h1>
      <p>{{ site.subtitle }}</p>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
         <!--
        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %} 
      !--> 
          {% include menu.html %}
   <figure> 
     <a href="dixit.uni-koeln.de"><img src="{{site.url}}/images/dixit-logo-transparent.png" /></a>
 
    <img src="{{site.url}}/images/nlg.png" href="transition.nlg.gr"/>
     <img src="{{site.url}}/images/huygenslogo.png" href="www.huygens.knaw.nl"/>
         <img src="{{site.url}}/images/Marie-Curie-Actions.jpg" />
        </figure>
             <br/>
        
      </header>
      <section>
      {{ content }}
      </section>
      
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
